<div class="row py-2 border-top">
  <div class="col-4 my-auto">
    <%= player.name %>
  </div>
  <div class="col-4 my-auto">
    <%= player.last_login %>
  </div>
  <div class="col-4 my-auto">
    <%= player.suspend ? "休眠" : "活動中" %>
  </div>
</div>
